version: "3.8"

services:
  # webapi:
  #   build:
  #     context: .
  #     dockerfile: src/webapi/Dockerfile
  #   ports:
  #     - 8080:5000 #web ui
  #   depends_on:
  #     - redis
  #   environment:
  #     - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
  #     - DOTNET_RUNNING_IN_COMPOSE=${DOTNET_RUNNING_IN_COMPOSE}

  # webapp:
  #   build:
  #     context: .
  #     dockerfile: src/webapp/Dockerfile
  #   ports:
  #     - 8081:5000 #web ui
  #   depends_on:
  #     - redis
  #   environment:
  #     - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
  #     - DOTNET_RUNNING_IN_COMPOSE=${DOTNET_RUNNING_IN_COMPOSE}

  redis:
    image: redis
    #image: redis:alpine
    #image: bitnami/redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--appendonly", "yes"]
    #entrypoint: redis-server /usr/local/etc/redis/redis.conf --appendonly yes
    ports:
      - 6379:6379
    volumes:
      - ./.docker-compose/redis:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    restart: always

  p3x:
    image: patrikx3/p3x-redis-ui
    ports:
      - 7843:7843
    volumes:
      - ./.docker-compose/p3x-redis-ui-settings:/settings
    restart: always
    depends_on:
      - redis
